@media (max-width:1200px){.carousel .caption .blur img{width:35vw}footer .flex{flex-direction:column-reverse;position:relative}footer .one{margin:0 1.5vw;padding:1.5vw 3vw 3vw}footer .one .contact{border-radius:0;height:100%}footer .one .contact img{width:50vw}footer .two{margin:0 1.5vw;padding:3vw 3vw 1.5vw}footer .two .map{border-radius:0;height:40vh;width:100%}}@media (max-width:767.98px){.titre{margin:5vh 15vw}.one .contact{height:35vh}.text-center .marg{padding:0}.text-center .marg .btn{padding:10px 15px}.carousel{height:50vh}a.rbt{font-size:24px}*,a.rbt{font-family:Roboto,sans-serif}*{font-size:13px}}

/*# sourceMappingURL=all.css.map*/