.form-group{margin-bottom:1rem}.form-group .form-control{background-color:#e9e3d573;border-bottom:solid #c1b4a4}.form-group .form-control:focus{background-color:#e9e3d5;border-color:#c1b4a4;box-shadow:0 0 0 .25rem rgba(0,0,0,.25)}

/*# sourceMappingURL=contact.css.map*/