@import 'variables';

@media ($xl) {


	//LAYOUT
	.carousel{
		.caption{
			.blur{
				img{
					width: 35vw;
				}
			}
		}
	}

	footer{
		.flex{
			position: relative;
			flex-direction: column-reverse;
		}
		.one{
			padding: 1.5vw 3vw 3vw 3vw;
			margin: 0vw 1.5vw 0vw 1.5vw;
			.contact{
				border-radius: 0;
				height: 100%;
				img{
					width: 50vw;
				}
			}
		}
		.two{
			margin: 0vw 1.5vw 0vw 1.5vw;
			padding: 3vw 3vw 1.5vw 3vw;
			.map{
				height: 40vh;
				width: 100%;
				border-radius: 0;
			}
		}
	}
}

@media ($sm) {


	.titre{
		margin: 5vh 15vw 5vh 15vw;
	}

	.one{

		.contact{
			height: 35vh;
		}
	}

	.text-center .marg{
		padding: 0;
		.btn{
			padding: 10px 15px 10px 15px;
		}
	}


	.carousel{
		height: 50vh;
	}

	a.rbt {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
	}
	*{
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
	}

}
