@import 'variables';

@media ($xl) {

	//SECTION TAILLE ET MACONNERIE
	.inner{
		position: relative;
		display: block;
		margin: 5vh 5vw -8vh 5vw;
		img{
			object-fit:cover;
			width: 100%;
			height: 60vh;
		}
		.txt{
			text-align: center;
			position: relative;
			width: 100%;
			transform: translateY(-30%);

		}
		&.left{
			img{
				margin: 0 0 0 0;
			}
			.txt{
				border-left-style: none;
				border-bottom-style: solid;
				border-image: linear-gradient(90deg, rgba(39, 31, 22, 0.75) 0%, rgba(128, 119, 109, 0.75) 34.34%, rgba(226, 216, 204, 0.75) 98.76%)1 ;
				padding: 5vh 15vw 5vh 15vw;
			}
		}
		&.right{
			.txt{
				text-align: center;
				right: 0;
				border-right-style: none;
				border-bottom-style: solid;
				border-image: linear-gradient(90deg, #8F9A9C 15.27%, #53595A 74.33%, #1D2020 126.75%) 1;
			}
		}
	}
	//PARRALAX ET SLIDER
	.slider{
		display: none;
	}
	section{
		display: none;
	}
}


@media ($sm){

	//SECTION TAILLE ET MACONNERIE
	.inner{
		position: relative;
		display: block;
		margin: 0;
		img{
			height: 40vh;
		}
		.txt{
			text-align: center;
			position: relative;
			width: 100%;
		}
	}
}
