@import 'variables';
@media ($xl) {

	.select{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		margin: 2vh 0;
		span{
			margin: 1vh;
			font-size: 1.2rem;
		}
	}
}

@media($xs){
	.realisation{
		margin: 5vh 0 2.5vh 0;
		&.even{
			grid-template-columns: 1fr ;
			.txt{
				text-align: center;
				grid-row: 1 ;
			}
		}
		&.odd{
			grid-template-columns: 1fr;
			.txt{
				text-align: center;
				grid-row: 1 ;
			}
		}
		.slide{
			.apres{
				img{

					width: 100vw;
				}
			}
		}
		.txt{
			position: relative;
			top: 0vh;
		}
	}

}


