//ALL BUTTON ----------------------------------
.btn{
	display: block;
	width: auto;
	padding: 10px 75px 10px 75px;
	transition: 500ms;
	border: none;
	font-weight: 600;
	color: $txt-btn;
	&:hover{
		text-decoration: underline;
	}
}



a{
	text-decoration: none;
	color: rgba(29, 32, 32, 1);
	.rbt {
		font-family: 'Roboto', sans-serif;
		font-size: 46px;
	}
	&:hover{
		text-decoration: underline;
		color: blanchedalmond;

	}
}
