//GENERAL-----------------------------------------
body{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(/images/background.png);
	background-repeat: repeat;
}

.titre{
	margin: 5vh 27vw 0vh 27vw;
	background: rgba(225, 213, 198, 0.6);
	border-radius: 20px;
	h1{
		padding: 20px 5vw 20px;
		align-items: center;
	}
}

