//LAYOUT------------------------------------------------
.carousel{
	height: 80vh;
	.caption {
		position: absolute;
		z-index: 40;
		.blur{
			background: rgba(255, 238, 218, 0.3);
			backdrop-filter: blur(6px);
			border-radius: 0 0 16px 16px ;
			padding: 3vh 4vw;
			img{
				width: 20vw;
			}
		}
	}
	.carousel-inner, .carousel-item{
		height: 100%;
	}
	.carousel-item{
		img{
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.navbar{
	background-color: rgba(219, 210, 188, 1);
	font-size: 1.2rem;
	text-align: center;
	.navbar-brand{
		display: none;
		img{
			height: 60px;
		}
	}
	.navbar-nav{
		align-items: center;
		li{
			margin: 0 4vw;
			.iconify{
				width: 40px;
				height: 40px;
				margin-right: 5px;
			}
			.active{
				font-weight: bold;
			}
		}
	}
}

.nopadding{
	padding: 0 ;
	margin: 0 ;
}

h2.nopadding{
	background: #E9E5DE;
	padding: 1vh !important;


}
footer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: padding-box;
	.flex{
		display: flex;
		.one{
			flex: 5 2;
		}
		.two{
			flex: 2 2;
		}
	}
	img{
		position: relative;
		z-index: 5;
	}
	.contact,.map{
		height: 100%;
		width: 100%;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(5px);
	}
	.one{
		margin: 3vw 1.5vw 3vw 3vw;
		.contact{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			height: 65vh;
			border-radius: 0 15vw 0 15vw;
			img{
				padding: 3vh 4vw;
				width: 30vw;
			}
			.text-center{
				.ligne{
					font-size: 3vh;
					padding-top: 2vh;
				}
			}
		}
	}
	.two{
		margin: 3vw 3vw 3vw 1.5vw;
		.map{
			width: 65vh;
			height: 65vh;
			border-radius: 50% 0 50% 0;
		}
	}
}
.copy{
	background-color: #EEE;
	color: black;
	display: flex;
	flex-direction : row;
	justify-content : space-around;
	align-items:center;
	a{
		color: $primary;
		text-decoration: underline;
	}
	p{
		margin: 0.5rem 0px;
	}
}


@media ($md) {
	.navbar{
		.navbar-brand{
			display: inline-block;
			img{
				height: 60px;
			}
		}
	}
}
@media ($md) {
	.navbar{
		.navbar-brand{
			img{
				height: 50px;
			}
		}
	}
}
