//TYPOGRAPHIE----------------------------------
@font-face {
	font-family: "canilari-heavy";
	src: url(/font/Canilari-StdHeavy.ttf);
}
@font-face{
	font-family: 'WorkSans';
	src: url(/font/WorkSans-Medium.ttf);
}

h1, h2 {
	font-family: 'canilari-heavy';
}


*{
	font-family: 'WorkSans';
}



