$xs : "max-width:575.98px";
$sm : "max-width:767.98px";
$md : "max-width:991.98px";
$lg : "max-width:1199.98px";
$xl : "max-width:1200px";

$primary:#887E68;
$secondary:rgba(143, 154, 156, 1);
$info:#DBD2BC;
$txt-btn: #E9E3D8;
