.form-group{
	margin-bottom: 1rem;
	.form-control{
		border-bottom: solid #C1B4A4;
		background-color: #E9E3D573;
		&:focus{
			background-color: #E9E3D5;
			box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%) ;
			border-color: #C1B4A4;
		}
	}
}

