
@import 'resp/index';
@import 'resp/all';

//PARRALAX ----------------------------------
section{
	position: relative;
	margin: 5vh 0 5vh 0;
	width: 100%;
	height: 70vh;
	.all{
		height: 100%;
		margin: 0 15% 0 15%;
		.vue{
			display: flex;
			overflow: hidden;
			height: 100%;
			justify-content:center;
			align-items: center;
			margin: 0 10% 0 10%;
			.layer{
				transition: 0s ease-in-out;
			}
			.img {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				.top,.bot{
					flex: 0 0 auto;
				}
				img{
					height: 250px;
					margin: 15px;
					opacity: 0.5;
					object-fit: cover;
					transition: 500ms;
				}
				img:hover{
					opacity: 1;

				}
			}

		}
		.logo-txt{
			position: absolute;
			border-radius: 25px;
			transition: 250ms;
			.btn{
				font-size: 2rem;
				padding: 10px 50px 10px 50px;
				color: rgba(29, 32, 32, 1);
				background-color: rgba(225, 213, 198, 0.7);
				border-radius: 10px;
			}
			.btn:hover{
				background-color: rgba(225, 213, 198, 1);
			}
		}
	}
}
//INDEX TAILLE DE PIERRE MACONNERIE ----------------------------------
.inner{
	position: relative;
	display: block;
	margin: 5vh 5vw 5vh 5vw;
	img{
		object-fit:cover;
		width: 85%;
		height: 60vh;
	}
	.txt{
		position: absolute;
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px);
		transform: translateY(-50%);
		top: 50%;
		border-width: 5px;
		width: 35%;
	}
	&.left{
		img{
			margin: 0 0 0 15%;
		}
		.txt{
			border-left-style: solid;
			border-image: linear-gradient(180deg, rgba(39, 31, 22, 0.75) 0%, rgba(128, 119, 109, 0.75) 34.34%, rgba(226, 216, 204, 0.75) 98.76%)1 ;
			padding: 32px 64px 32px 47px;
		}
	}
	&.right{
		.txt{
			text-align: right;
			right: 0;
			border-right-style: solid;
			border-image: linear-gradient(180deg, #8F9A9C 15.27%, #53595A 74.33%, #1D2020 126.75%) 1;
			padding: 32px 47px 32px 64px;
		}
	}
}
//SLIDER AVIS ----------------------------------
.slider {
	text-align: center;
	position: relative;
	padding-bottom:5vh;
	overflow: hidden;
	.style{
		height: auto;
		margin-right: 2.5vw ;
		padding: 20px;
		background-color: #DBD2BC;
		border-radius: 100px;
		box-shadow: 5px 3px #8C887C;
		a{
			padding: 10px;
			color: #3a372f;
			border: solid 2px #8C887C;
			border-radius: 50px;
			transition: 250ms ease-in-out;
			&:hover{
				border: solid 0px;
				background-color: #8C887C;
				color: blanchedalmond;
				border-radius: 50px;
			}
		}
	}
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	&::before {
		left: 0;
		top: 0;
	}
	.slide-track {
		animation: scroll 15s linear infinite;
		display: flex;
		align-items: center;
		&:hover{
			animation-play-state: paused;
		}
	}
}


