@import'resp/realisations';
@import'resp/all';
//BEFORE AFTER ----------------------------------
.select{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2vh 0;
	span{
		font-size: 1.2rem;
		color: black;
	}
}
.realisation{
	display: grid;
	margin: 5vh 10vw 2.5vh 10vw;
	height: 50vh;
	transition: all 0.5s ease;
	&.hidden{
		height: 0;
		overflow: hidden;
		margin: 0;
	}
	&.even{
		grid-template-columns: 1fr 60vw;
		.txt{
			text-align: left;
			grid-row: 1;
		}
	}
	&.odd{
		grid-template-columns: 60vw 1fr;
		.txt{
			text-align: right;
		}
	}
	.slide{
		height: 100%;
		overflow: hidden;
		position: relative;
		img{
			width: 100%;
			object-fit: cover;
		}
		.avant{
			height: 100%;
			img{
				height: 100%;

			}
		}
		input{
			z-index:10;
		}
		.grab{
			position: absolute;
			top: 50%;
			transform: translate(50%, -50%);
			right: 50%;
			width: 100%;
			display: flex;
			justify-content: center;
			svg{
				height: 6vh;
				width: auto;
				color: #E8E1D8;
				padding: 7px;
			}
		}
		input[type=range]{
			cursor: col-resize;
			-webkit-appearance:none;
			-moz-appearance:none;
			position: relative;
			top: -100%;
			width: 100.5%;
			left: -0.25%;
			background: none;
			&:focus-visible {
				outline: none;
			}
			&::-webkit-slider-thumb{
				height: 50vh;
				width: 10px;
				border-radius: 0px;
				background: #E8E1D8;
				-webkit-appearance: none;
			}
		}
		.grab svg, input[type=range]::-webkit-slider-thumb {
			filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
		}
		.apres{
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			right: 50%;
			height: 100%;
			img{
				height: 100%;
				width: 60vw;
			}
		}
	}
	.txt{
		position: relative;
		top: 10vh;
	}
}

