@import 'resp/taillemaconnerie';
@import 'resp/all';
//TAILLE DE PIERRE ET MACONNERIE ----------------------------------
.text-center.bg{
	position: relative;
	display: block;
	margin: 5vh 0 0vh 0;
	background-color: #ffffff02;
	backdrop-filter: blur(1.5px);
	padding: 5vh 20vw 5vh 20vw;
	img{
		padding-bottom: 2vh ;
		height: 15vh;

	}
	.marg{
		padding: 0 15vw 0 15vw;
		margin-top: 2vh;
	}
}

.carre{
	display: grid;
	grid-template-columns: 1fr 1fr;
	div{
		width: 100%;
		height: 30vh;
		overflow: hidden;
		img{
			object-fit: cover;
			transition: 1s;
			width: 100%;
			height: 100%;
		}
	}
	img:hover{
		transform: scale(1.05);
	}
}
